@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  font-family: Roboto, sans-serif;
  margin: 0;
}

/* sidebar */

.sidebar {
  background-color: rgb(34, 150, 240);
  font-size: 18px;
}


#dashboard-icon {
  width: 35px;
  height: 35px;
}

#dashboard-text {
  font-size: 24px;
}

.sidebar > ul {
  display: grid;
  gap: 16px;
}


/* header */

.header {
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right {
  display: grid;
}

.searchbar-container {
  display: flex;
  justify-content: space-between;
}

.searchbar-container > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

#searchbar-logo {
  padding-left: 8px;
  flex: 5;
  margin-right: auto;
}

.searchbar-items {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* border: red 5px solid; */
}

#searchbar {
  background-color: lightgrey;
  border-radius: 16px;
  width: 600px;
  height: 2rem;
  border: none;
  padding: 4px;
}

.pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  justify-content: center;
}

#big-profile {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 0px;
  flex: 2;
  margin-right: auto;
}

#big-pfp {
  width: 75px;
  height: 75px;
}

#big-pfp ~ div {
  font-weight: bold;
}

#big-pfp ~ div p:last-child {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  gap: 12px;
  align-items: center;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding-left: 8px;
  gap: 16px;
}

.profile img {
  grid-row: 1 / 3;
}

.profile-container > ul {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

li > button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: darkslategrey;
}

/* main content */

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row: 1fr 1fr;
  grid-auto-rows: 1fr;
  padding: 32px;
  gap: 32px;
  overflow: auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  flex: 1;
  min-height: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
}

.card > div {
  margin-top: auto;
}

.card > div > svg {
  width: 30px;
  height: 30px;
}

/* announcements and trending */

.card, .announcements-container, .trending-container {
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}

.announcements-trendings {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.announcement > p {
  font-size: 12px;
}


.icons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.icon {
  width: 20px;
  height: 20px;
}